<div class="content-detil-country" [class.dark-mode]="darkModeService.darkMode">
  <app-header></app-header>

  <button class="bottom-reset-detail" (click)="returnPage()"><img src="assets/flecha-reset.svg" alt="">Back</button>

  <div class="content-information-country" *ngIf="countryDetails">
    <div>
      <img class="imagen-flag" *ngIf="countryDetails.flags" [src]="countryDetails.flags.png" alt="Flag" />
    </div>
    <div class="content-detail-total">
      <div class="content-detail-one">
        <h2>{{ countryDetails.name?.common }}</h2>
        <div *ngIf="countryDetails.name">
          <p>
            <strong>Native Name:</strong>
            {{ countryDetails.name?.nativeName?.nld?.common }}
          </p>
        </div>

        <div>
          <p><strong>Population:</strong> {{ countryDetails.population }}</p>
          <p><strong>Region:</strong> {{ countryDetails.region }}</p>
          <p><strong>Sub Region:</strong> {{ countryDetails.subregion }}</p>
          <p><strong>Capital:</strong> {{ countryDetails.capital }}</p>
        </div>
      </div>

      <div class="content-detail-two">
        <p><strong>Top Level Domain:</strong> {{ countryDetails.tld }}</p>
        <p>
          <strong>Currencies:</strong> {{ countryDetails.currencies?.EUR?.name }}
        </p>
        <p>
          <strong>Languages:</strong>
          {{ countryDetails.languages?.nld }}
          {{ countryDetails.languages?.fra }},
          {{ countryDetails.languages?.deu }}
        </p>
      </div>
    </div>
  </div>
</div>
