/* Estilos generales */
.content-header {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 81px;
  background-color: var(--white);
  box-shadow: -4px 3px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 48px;
  cursor: pointer;
}

.content-header h1 {
  font-size: 24px;
}

.content-button-dark {
  width: 108px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.content-header.dark-mode {
  background-color: var(--dark-blue);
  color: white;
}

@media screen and (max-width: 600px) {
  .content-header {
    padding: 0 16px;
  }
  .content-header h1 {
    font-size: 14px;
  }
  .content-button-dark {
    width: 84px;
    font-size: 12px;
  }
}
